html, body {
  margin: 0;
  color: #75fb79;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.App {
  background: black;
  height: 100%;
}

.site-page {
  background:black;
  color: #75fb79;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "JoystixMonospace-Regular";
  height: 80%;
}

#game-area {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-input-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.input-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.combo-entry-display {
  display: block;
  height: 75px;
  width: 60px;
  border: 2px solid black;
}

.color-grid-area {
  display: flex;
  flex-flow: row wrap;
  width: 25%;
  justify-content: center;
}

.color-grid-unit {
  display: block;
  height: 30px;
  width: 30%;
  border: 1px solid black;
  opacity: 50%;
}

#enter-button {
  height: 40px;
}
